<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.32">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.70">
    <script>node{
   
 stage(&apos;git clone&apos;) {
    git &apos;https://github.com/jani1502/src.git&apos;
}
 
 stage(&apos;git clone&apos;) {
    sh label: &apos;&apos;, script: &apos;mvn install&apos;
}

 stage(&apos;git clone&apos;) {
    
emailext attachLog: true, body: &apos;hi log file attached&apos;, compressLog: true, subject: &apos;attchlog&apos;, to: &apos;janicharuku@gmail.com,janakiram.charuku@gmail.com&apos;
}

}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>